h1 {
    color: grey;
    font-size: 36px;
    text-align: center;
    font-family: Consolas;
}

h2{
    color: red;
    font-size: 24px;
    font-family: 'Skranji', cursive;
    text-align: center;
}

body{ 
    background-color: bisque;
}

.GameBox{
    background-color: chocolate;
    border: 7px solid rgb(173, 98, 44);
   padding: 10px;
}
/* display: flex;flex:auto; justify-content: center; padding-left: 0;    padding-right: 0; margin-left: auto;  margin-right: auto; display: block;
   */
#mainG{
    display: flex;
    flex:auto;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}